#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env

#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*
!writable/debugbar/index.html

writable/**/*.db
writable/**/*.sqlite

php_errors.log

#-------------------------
# Test Files
#-------------------------
tests/coverage*

# Don't save phpunit under version control.
phpunit

#-------------------------
# Composer
#-------------------------
vendor/

#-------------------------
# codeigniter4/devkit
#-------------------------
.php-cs-fixer.cache

# Visual Studio Code
.vscode/

#-------------------------
# Shelf
#-------------------------
public/assets/bootstrap/*
!public/assets/bootstrap/.gitkeep
public/assets/bootstrap-icons/*
!public/assets/bootstrap-icons/.gitkeep

app/Commands/Test.php

app/Libraries/*
!app/Libraries/.gitkeep

build/*

